.text-edit{
  padding: 16px;
  .red-text-title .taroify-native-input{
    font-size: 36px;
  }
  .red-text-area{
    width: 100%;
    height: calc(100vh - 550px);
    margin-bottom: 8px;
  }
  .taroify-native-textarea{
    font-size: 32px;
  }
  .tips{
    font-size: 14px;
    color:rgb(171, 171, 171);
    padding:16px 32px;
    font-style: italic;
  }
}